<%= flash[:notice] %>
<%= @error %>
<%= @formated_url %>
<%= @api %>
<div class="form-container">
  <div class="form">

    <div class="form-group">
      <%= render 'homes/instruction' %>
    </div>

    <%= form_with url: reviews_path, local: true, method: :get, class: "form-inline" do |f| %>
      <div class="form-group">
        <%= f.text_field :url, class: "form-control", placeholder: "URLを入力してください" %>
      </div>
      <div class="form-group">
        <%= f.submit "分析する", class: "btn btn-outline-dark btn-block btn-lg" %>
      </div>
    <% end %>

  </div>
</div>

<div class="result">
<% if @ans.present? %>
<table class="table table-Hoverable">
<thead>
<tr>
<th>商品画像</th>
<th>商品名</th>
<th>分析結果</th>
<tr>
</thead>
<tbody>
<tr>
<td><img src="<%= @image_url %>" alt="画像の説明" class="resized-image"></td>
<td><%= link_to "#{@product}", "#{@url}", target: :_blank, rel: "noopener noreferrer" %></td>
<td><%= @ans %></td>
</tr>
</tbody>
</table>
      <div>
        <%= form_with model: @review, local: true do |f| %>
          <%= f.hidden_field :review, value: @ans %>
          <%= f.hidden_field :link, value: @url %>
          <%= f.hidden_field :product_name, value: @product %>
          <%= f.hidden_field :image_url, value: @image_url %>
          <%= f.submit "マイページに追加", class: "btn btn-outline-dark" %>
        <% end %>
    </div>
<% end %>
</div>

</div>