<!DOCTYPE html>
<html>
  <head>
  <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-9023508848836767"
     crossorigin="anonymous"></script>
    <title>AnalysisApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="https://kit.fontawesome.com/a61de98c96.js" crossorigin="anonymous"></script>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "signup", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "turbo", type: "module" %>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
  </head>

<body>
<header>
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
          <a class="navbar-brand" href="/">
        <span>Amazonレビュー分析</span>
</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
             <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav ml-auto">
      <% if user_signed_in? %>
      <li>
        <%= link_to user_path(current_user.id), class: 'nav-link text-white' do %>
        <i class="fas fa-home"></i>
        <% if @active_nav == :mypage %>
        <span class="text-yellow">マイページ</span>
      <% else %>
        <span>マイページ</span>
      <% end %>
        <% end %>
      </li>
      <li>
        <%= link_to reviews_path, class: 'nav-link text-white' do %>
        <i class="fa-solid fa-magnifying-glass-chart"></i>
        <% if @active_nav == :analysis %>
        <span class="text-yellow">分析</span>
      <% else %>
        <span>分析</span>
      <% end %>
        <% end %>
      </li>
      <li>
        <%= link_to users_path, class: 'nav-link text-white' do %>
        <i class="fa-solid fa-users"></i>
        <% if @active_nav == :recommendation %>
        <span class="text-yellow">レコメンド</span>
      <% else %>
        <span>レコメンド</span>
      <% end %>
        <% end %>
      </li>
      <li>
        <%= link_to destroy_user_session_path, method: :delete, class: 'nav-link text-white' do %>
        <i class="fas fa-sign-out-alt"></i> ログアウト
        <% end %>
      </li>
    <% else %>
    <li>
        <%= link_to root_path, class: 'nav-link text-white' do %>
        <i class="fas fa-home"></i>
        <% if @active_nav == :top %>
        <span class="text-yellow">トップ</span>
      <% else %>
        <span>トップ</span>
      <% end %>
        <% end %>
      </li>
      <li>
        <%= link_to new_user_registration_path, class: 'nav-link text-white' do %>
        <i class="fas fa-user-plus"></i> 新規登録
        <% end %>
      </li>
      <li>
        <%= link_to new_user_session_path, class: 'nav-link text-white' do %>
        <i class="fas fa-sign-in-alt"></i> ログイン
        <% end %>
      </li>
      <% end %>
      </ul>
      </div>
      </div>
      </nav>
    </header>
    <%= yield %>
</body>

</html>
